body {
    background-color: gold;
}
/*show/hide*/
.show {
    display: block;
}
.hide {
    display: none;
}
/*animation*/
/*locked*/
.lockedAnimation {
    animation: locked alternate 2 0.90s;
}
@keyframes locked {
    100% {
        border: 10px solid red;
    }
}
/*select*/
.selectAnimation {
    animation: select alternate 2 0.50s;
}
@keyframes select {
    100% {
        border: 1px solid var(--selectColor, pink);
    }
}
/*character select*/
#characterSelect {
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 99%;
    padding: 10px;
}
.title {
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}
/*selecdt div*/
.select {
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 75%;
    padding: 10px;
}
.select div {
    display: flex;
    height: 15%;
    width: 60%;
    border: 1px solid black;
    padding: 10px;
    transition: all 1s;
}
.select div:hover {
    width: 75%;
}
.info {
    margin-left: auto;
    align-self: center;
    font-size: xx-large;
    border-radius: 100%;
}
/*display*/
.displayCharacter {
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 75%;
    border: 1px solid transparent;
    padding: 10px;
    transition: all 1s;
}
.card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 99%;
    width: 15%;
    border: 1px solid black;
}
.space {
    height: 99%;
    width: 2%;
}
/*img*/
.img {
    height: 100%;
    width: 100%;
}
.card:hover .trash {
    position: relative;
    display: block;
    
}
.trash {
    position: relative;
    display: none;
    font-size: 300%;
}
/*btn*/
.btn {
    margin-left: auto;
    height: 10%;
    width: 20%;
    border: 1px solid transparent;
    border-radius:50px;
    background-color:lightblue;
}