body {
    background-color: gold;
    display: flex;
    flex-direction: column;
}
/*game title*/
.titleGameContainer {
    /*postion*/
    margin-left: auto;
    margin-right: auto;
    /*style container*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 50%;
}
.titleGame {
    font-size: 500%;
    animation: scaleGameTitle infinite alternate 1s;
}
@keyframes scaleGameTitle {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1.3);
    }
}
/*btn card*/
.btnCard {
    display: flex;
    align-items: center;
    font-size: xx-large;
    padding-left: 20px;
    height: 15%;
    width: 55%;
    border: 1px solid black;
    border-right: none;
    background-color: black;
    color: white;
    transition: width 1s;
}
.btnCard:hover {
    width: 65%;
}
/*locked animation*/
.lockedAnimation {
    animation: locked alternate 4 0.20s;
}
@keyframes locked {
    from {
        transform: translateX(-5px);
    }
    to {
        transform: translateX(30px);
    }
}
